.app {
	margin: auto;
	text-align: center;
}

.button-submit {
	align-self: center;
	margin: auto;
	padding: 0.5em 0.75em;
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	font-size: 18px;
	transition: background-color 0.15s ease;
	border: none;
}

.button-submit:hover {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.button-submit:disabled {
	background-color: var(--disabled-color);
}

.input {
	border: 2px solid hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	height: 30px;
}

.form {
	margin: auto;
	text-align: center;
	width: 400px;
	display: flex;
	flex-direction: column;
	/* gap: 1em; */
	gap: 10px;
}

.label {
	text-align: left;
}

.errorLabel {
	color: var(--error-color);
}
